<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例_methods实现</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    
    <div id="root">
        姓: <input type="text" v-model="firstName"><br>
        名: <input type="text" v-model="lastName"><br>
        <!-- 每当data中的数据更新后,模板(Vue挂载的容器)都会重新解析 -->
        <!-- 当解析时遇到插值中的表达式为函数调用时,由于不知道函数返回值是否更新,都会重新调用一次 -->
        <!-- 这样导致了data中有数据更新时模板重新解析会把返回值没有变的那些函数也重新调用了一次,降低了效率 -->
        <!-- 随着学习便用到Vue的计算属性来避免这种不必要的麻烦 -->
        全名: <span>{{fullName()}}</span>
    </div>

    <script>
        Vue.config.productionTip = false;
        new Vue({
            el: "#root",
            data:{
                firstName: "张",
                lastName: "三"
            },
            methods:{
                fullName(){
                    // methods里的方法也会添加到Vue实例中,没有用数据代理(详情看07_事件处理.1)
                    // 故this --> 当前Vue实例
                    // console.log(`@,${this}`); 
                    console.log("@---fullName被调用了");   
                    return `${this.firstName}-${this.lastName}`;
                }
            }
        })
    </script>
</body>
</html>