<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例_计算属性实现</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <!-- 
        计算属性(总结):
            1.定义: 要用的属性不存在,要通过已有属性计算得来
            2.原理: 底层借助了Object.defineProperty方法提供的getter和setter
            3.get函数什么时候执行?
                (1).初次读取时会执行一次,然后Vue把值缓存
                (2).当依赖的数据发生改变时会被再次调用,然后Vue更新缓存
            4.优势: 与methods实现相比,内部有缓存机制(复用), 效率更高, 调试方便
            5.备注:
                1.计算属性最终会出现在vm(当前Vue实例),直接读取使用即可
                2.如果计算属性要被修改, 那必须写 set 函数去响应修改,且set中要引起计算时依赖的数据发生改变
     -->


    <!-- 避免了过多在插值表达式中写函数调用使得模板每更新一次调用一次造成效率降低  -->
    <!-- 注意计算属性是不在vm._data中的,联系data对象与vm._data引用值为同一个即同一个对象也能知道,这里只是提醒 -->
    <!-- 一样的是计算属性也会添加到Vue实例当中,当 初次 或 依赖的数据更新时 访问时会调get -->
    <div id="root">
        姓: <input type="text" v-model="firstName"><br>
        名: <input type="text" v-model="lastName"><br>
        <!-- 改测试的数据test时fullName的get没有被调用,原理看下方解释 -->
        测试: <input type="text" v-model="test"><br>
        <!-- 注意计算属性fullName的get只被调用了一次 -->
        <!-- 因为Vue里面有缓存,调用一次后往后再读取则走缓存 -->
        <!-- 只有计算属性fullName所依赖的数据发生改变才再次调用getter -->
        全名: <span>{{fullName}}</span><br>
        全名: <span>{{fullName}}</span><br>
        全名: <span>{{fullName}}</span><br>
        全名: <span>{{fullName}}</span><br>
        全名: <span>{{fullName}}</span><br>
    </div>

    <script>
        Vue.config.productionTip = false;
        // let a = 99;
        const vm = new Vue({
            el: "#root",
            data:{
                firstName: "张",
                lastName: "三",
                test: "你好"
            },
           computed:{
            fullName:{
                // 不要写成箭头函数,不然this又变Window了,谨记
                get(){
                // 当访问fullName时,Vue会帮你调用get函数获取返回值,所以这里的this指向vm(当前Vue实例)
                // console.log(this);
                // get函数什么时候被调用?
                    // 1.初次读取计算属性fullName时
                    // 2.当计算属性fullName所依赖的数据发生改变时
                        // (注意依赖的数据是Vue能监测到的,比如写在全局的变量再放到这里计算,当全局变量改变时get依旧不会再次调用)
                    console.log("get被调用了");
                    return this.firstName + '-' + this.lastName;
                    // return this.firstName + '-' + this.lastName + a;
                },
                // set函数什么时候被调用?
                    // 1.当修改fullName时
                set(value){
                    console.log("set被调用了");
                    const arr = value.split('-');
                    this.firstName = arr[0];
                    this.lastName = arr[1];
                }
            }
           }
        })
    </script>
</body>
</html>