<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表排序</title>
    <script src="../js/vue.js"></script>
</head>
<body>

    <div id="root">
        <h2>人员列表(遍历数组)</h2>
        <input type="text" v-model='keyWord'>
        <button @click="sortType=2">年龄升序</button>
        <button @click="sortType=1">年龄降序</button>
        <button @click="sortType=0">年龄原来顺序</button>
        <ul>
            <li v-for="p of filPersons" :key="p.id">
                {{p.name}}-{{p.age}}-{{p.id}}
            </li>
        </ul>
    </div>

    <script>
        Vue.config.productionTip = false;
        const vm = new Vue({
            el: "#root",
            data:{
                sortType: 0, //0原顺序  1降序 @click="sortType="  2升序  
                keyWord: '',
                persons:[
                    {id:'001',name:'马冬梅',age:22,sex:'女'},
                    {id:'002',name:'周冬雨',age:25,sex:'女'},
                    {id:'003',name:'周杰伦',age:42,sex:'男'},
                    {id:'004',name:'温兆伦',age:35,sex:'男'},
                ]
            },
            computed:{
                filPersons(){
                    const arr = this.persons.filter((p)=>{
                        return p.name.includes(this.keyWord);
                    })
                    switch(this.sortType){
                        case 0: return arr;
                        case 1: return arr.sort((a,b)=> b.age - a.age);
                        case 2: return arr.sort((a,b)=> a.age - b.age);
                    }
                }
            }
        })
    </script>
</body>
</html>