<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.set的使用</title>
    <script src="../js/vue.js"></script>
</head>
<body>

    <!-- Vue.set 和 vm.$set 功能一样 -->
    <!-- 注意: Vue.set或vm.$set不能给Vue实例(vm)或其根data(即_data)添加响应式属性数据,否则报错 -->
    <div id="root">
        <h2>学校名称: {{name}}</h2>
        <h2>学校地址: {{address}}</h2>
        <!-- <h2>校长是: {{leader}}</h2> -->
        <hr>
        <h1>学生信息</h1>
        <button @click="addSex">添加学生性别</button>
        <h2>学生姓名: {{student.name}}</h2>
        <h2 v-if="student.sex">学生性别: {{student.sex}}</h2>
        <h2>学生年龄: {{student.age.rAge}},对外{{student.age.sAge}}</h2>
        <h2>学生身高: {{student.height}}</h2>
        <h2>朋友们</h2>
        <ul>
            <li v-for="(f, index) of student.friends" :key="index">
                {{f.name}}--{{f.age}}
            </li>
        </ul>
    </div>

    <script>
        Vue.config.productionTip = false;
        const vm = new Vue({
            el: "#root",
            data:{
                name: '尚硅谷',
                address: '北京',
                student:{
                    name:'tom',
                    age:{
                        rAge:41,
                        sAge:28
                    },
                    friends:[
                        {name:'jerry',age:35},
                        {name:'jerry',age:36},
                    ]
                }
            },
            methods:{
                addSex(){
                    this.$set(this.student,'sex','男'); // 这里是给vm中的student添加响应式属性,不是直接给vm添加,奏效
                }
            }
        })
        // Vue.set(vm,'leader','handsomeMan'); //报错
        Vue.set(vm.student,'height','165厘米'); //奏效

    </script>
</body>
</html>