<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>条件渲染</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <!-- 
        条件渲染:
            1.v-if
                写法:
                    (1).v-if="表达式"
                    (2).v-else-if="表达式"
                    (3).v-else
                适用于: 切换频率较低的场景,因为涉及节点的增删
                特点: 不展示的DOM元素之间被移除
                注意: v-if可以和: v-else-if  v-else一起使用,但要求结构不能被"打断"
            
            2.v-show
                写法: v-show="表达式"
                适用于: 切换频率较高的场景
                特点: 不展示的DOM元素未被移除,仅仅是使用display:none隐藏

            3.备注: 使用v-if时,该元素可能无法获取到,而使用v-show一定可以获取到
     -->
    
    <div id="root">
        <h2>当前的n值是:{{n}}</h2>
        <button @click="n++">点位n+1</button>
        <!-- 使用v-show做条件渲染 -->
        <!-- v-show的底层实现就是调整display属性 -->
        <!-- display:none看不见也不占位置但是dom结构还在,还能够获取该节点 -->
        <h2 v-show="false">欢迎来到{{name}}</h2>

        <!-- 使用v-if做条件渲染 -->
        <!-- v-if结果为false时dom结构都删掉了,该节点不存在了,无法获取 -->
        <h2 v-if="1 === 3">欢迎来到{{name}}</h2>

        <!-- v-else和v-else-if -->
        <!-- 必须紧挨一起,中间不能被与判断不相干的dom元素结构打断 -->
        <div v-if="n === 1">Angular</div>
        <div v-else-if="n === 2">React</div>
        <!-- 不能写,否则被打断报错v-else-if和v-else没有对应的v-if -->
        <!-- <div>@</div> -->
        <div v-else-if="n === 3">Vue</div>
        <div v-else>哈哈</div>

        <!-- v-if与template的配合使用 -->
        <!-- template不影响dom结构 -->
        <!-- template不能与v-show配合,否则无效 -->
        <template v-if="n === 1">
            <h2>你好</h2>
            <h2>尚硅谷</h2>
            <h2>北京</h2>
        </template>

    </div>
    <script>
        Vue.config.productionTip = false;
        const vm = new Vue({
            el: "#root",
            data:{
                name: "尚硅谷",
                n:0,
            }
        })
    </script>
</body>
</html>